<h1>Modi di dire</h1>

<h4>Search for the preferred expression</h4>

<app-word-detail [word]="selectedWord"></app-word-detail>

<div class="search-word">
    <input type="text" class="form-control" placeholder="search for the preferred modi di dire" name="search"
           [(ngModel)]="searchText"/>
</div>

<ul>
    <li *ngFor="let word of words | filter:searchText" (click)="onSelect(word)">
        <h2>{{word.id}}</h2>
        <p>{{word.italian}}</p>
        <p>{{word.translation}}</p>
        <p>{{word.usage}}</p>
    </li>
</ul>


