/* Text colors */

@each $key,$val in $color-palette {
	.color-#{$key} {
		color: #{$val};
	}

	.bg-#{$key} {
		background-color: #{$val};
	}
}

@each $key,$val in $font-family {
	.font-#{$key} {
		font-family: #{$val};
	}
}

@each $key, $val in $font-weights {
	.fw-#{$key} {
		color: #{$val};
	}
}

@each $key, $val in $text-font-sizes {
	.fs-#{$key} {
		color: #{$val};
	}
}

@each $key, $val in $heading-font-sizes {
	.hs-#{$key} {
		color: #{$val};
	}
}

